/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*
body {
    padding-top: 104px;
}
*/

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 104px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
}



.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}