body {
	color: black;
    background:#d5e3ea !important;
	margin-top:15px
}

.navbar-simple .brand {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-simple .navbar-inner {
    background: #fff;
    filter: none !important;
    box-shadow: 0 0px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0px 15px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/* .navbar-simple .navbar-inner .nav {
    float: right;
} */
.navbar-simple .navbar-inner .nav li a {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:blue;
    //  font-size: 18px;
    //  padding-top: 15px;
    //  padding-bottom: 15px;
    //  font-weight: 600;
}
.navbar-simple .navbar-inner .nav li a:hover {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: cyan;
}
.navbar-simple .navbar-inner .nav li.active a {
    color: cyan;
}



/* крректировка промотки под фиксированный navbar  */
*[id]:before {
    display: block;
    content: " ";
    margin-top: -58px;
    height: 58px;
//    visibility: hidden; // убрал - так как возникают проблемя с отображением радиокнопок!!!
}

/* убираем тени у кнопок карусели */
.carousel-control.left, .carousel-control.right{
    background: none !important;
    filter: progid:none !important;
}


.hr-theme {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 4px;
    margin-bottom: 4px;
}


.affix-top {
    top: 50%;
    position:fixed;
}

.affix-bottom {
    top: 50%;
    position:fixed;
}

.affix {
    top:50%;
    position:fixed;
}



.adverts-table {
	padding-left: 5px;
	padding-right: 5px;
}

.adverts {
	border-radius: 70px 10px;
}

.adverts-img {
	width:110px !important;
	height:110px !important;
	float:left !important;
	margin:10px !important
}

.news {
	border-radius: 15px 15px;
}

.a-news {
    text-decoration: none !important;
    color: #666666;	
}


img {
	border-radius: 5px 5px;
}



.page-header {
  padding-bottom: 5px;
  margin: 10px 0 10px;
  border-bottom: 1px solid #eeeeee;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 5px;
  margin-bottom: 11.5px;
}


.nav-pills{
  padding: 10px;
  background-color: #f5fafa;
  border-radius: 12px 12px 12px 0px;
}